section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

#hello {
  background-color: #f3d4d4; }

#world {
  background-color: #9ef3f2; }

.bullets-container {
  position: fixed;
  right: 0;
  z-index: 9999;
  font-weight: normal;
  opacity: 0.8; }

.section-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.section-bullets li {
  display: block;
  text-align: right;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 2px; }

.section-bullets li a {
  text-decoration: none;
  color: transparent;
  overflow: hidden;
  display: inline-block;
  padding: 10px 25px; }

.section-bullets li a.active {
  color: #000;
  background-color: #dff5f4;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-weight: 800; }

.section-bullets li:hover a {
  color: #000;
  width: 100%;
  opacity: 0.9;
  background-color: #8D6161;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  visibility: initial; }
